
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#projecttile{
    /*margin-top: 10px; */
    padding: 40px;
    text-align:center;
    background-color: lightblue;

}
#login-row{
    float: right;
}


#listemb{

    width: 1000px;
    text-align: center;
    background-color: white;
    
}

#login-row{
    color: red;
}

#requestForm{
    height: 300;
    width: 300;
}
